<div class="game-wrapper">
  <h1>Crack the Code!</h1>

  <!-- User Input Fields -->
  <form [formGroup]="codeForm" class="code-inputs">
    <input placeholder="?" type="text" maxlength="1" formControlName="digit1" />
    <input placeholder="?" type="text" maxlength="1" formControlName="digit2" />
    <input placeholder="?" type="text" maxlength="1" formControlName="digit3" />
    <input placeholder="?" type="text" maxlength="1" formControlName="digit4" />
  </form>

  <!-- Clues Section -->
  <div class="clues">
    @for (clue of clues; track clue) {
    <div class="clue">
      <div class="clue-text-wrapper">
        <p>{{ clue.text }}</p>
        @if (clue.text === 'Nothing correct') {
        <button
          (click)="markClueAsWrong(clue)"
          [disabled]="disableMarkAllAsWrongButton"
          class="mark-all-as-wrong-button"
        >
          Mark all as Wrong
        </button>
        }
      </div>
      <div class="clue-numbers">
        @for (number of clue.numbers; track number) {
        <span
          class="clue-box"
          [ngClass]="{ selected: number.selected }"
          [class]="number.state"
          (click)="selectClueBox(clue, number)"
        >
          {{ number.number }}
        </span>
        }
      </div>
    </div>
    }
  </div>

  <!-- Reset Button -->
  <button
    class="reset-button"
    (click)="resetMarkUps()"
    [disabled]="disableResetButton"
  >
    Reset
  </button>

  <!-- MarkUp Buttons -->
  <div class="mark-up-buttons-wrapper">
    <button
      class="correct-button"
      [disabled]="disableMarkUpButtons"
      (click)="markAsCorrect()"
    >
      {{ selectedNumber?.state === "correct" ? "Undo" : "Mark as Correct" }}
    </button>
    <button
      class="misplaced-button"
      [disabled]="disableMarkUpButtons"
      (click)="markAsMisplaced()"
    >
      {{ selectedNumber?.state === "misplaced" ? "Undo" : "Mark as Misplaced" }}
    </button>
    <button
      class="wrong-button"
      [disabled]="disableMarkUpButtons"
      (click)="markAsWrong()"
    >
      {{ selectedNumber?.state === "wrong" ? "Undo" : "Mark as Wrong" }}
    </button>
  </div>

  <!-- Check Answer Button -->
  <button
    class="check-answer-button"
    (click)="checkAnswer()"
    [disabled]="disableCheckButton"
  >
    Check Answer
  </button>
</div>
