.game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Fredoka", sans-serif;

  .code-inputs {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;

    input {
      width: 50px;
      height: 50px;
      text-align: center;
      font-size: 24px;
      border: 2px solid #333;
      border-radius: 5px;
      font-family: "Fredoka", sans-serif;
    }
  }

  .clues {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 60%;

    .clue {
      text-align: center;
      display: flex;
      justify-content: space-around;
      width: 100%;
      align-items: center;

      .clue-text-wrapper {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: larger;
      }

      .clue-numbers {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 5px;
        width: 50%;
      }

      .clue-box {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: bold;
        border: 2px solid #333;
        border-radius: 5px;
        background-color: white;
        transition: background-color 0.3s, transform 0.2s;

        &:hover {
          background-color: #f0f0f0;
          transform: scale(1.1);
          cursor: pointer;
        }
      }

      .clue-box.selected {
        background-color: #a3a3a3;
      }

      .clue-box {
        &.selected {
          background-color: #a3a3a3 !important;
        }
      }

      .clue-box.correct {
        background-color: #0dac0d;
        color: white;
      }

      .clue-box.misplaced {
        background-color: #3b3beb;
        color: white;
      }

      .clue-box.wrong {
        background-color: #f63a3a;
        color: white;
        text-decoration: line-through;
      }
    }
  }

  .check-answer-button:disabled,
  .mark-up-buttons-wrapper button:disabled,
  .mark-all-as-wrong-button:disabled,
  .reset-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    opacity: 0.6;
  }

  .mark-up-buttons-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;

    .correct-button {
      background-color: #0dac0d;
    }
    .misplaced-button {
      background-color: #3b3beb;
    }
    .wrong-button {
      background-color: #f63a3a;
    }
  }
}
