<div class="game-wrapper">
  <h1>Crack the Code!</h1>

  <!-- User Input Fields -->
  <form [formGroup]="codeForm" class="code-inputs">
    <input placeholder="?" type="text" maxlength="1" formControlName="digit1" />
    <input placeholder="?" type="text" maxlength="1" formControlName="digit2" />
    <input placeholder="?" type="text" maxlength="1" formControlName="digit3" />
    <input placeholder="?" type="text" maxlength="1" formControlName="digit4" />
  </form>

  <!-- Clues Section -->
  <div class="clues">
    @for (clue of clues; track clue) {
    <div class="clue">
      <div class="clue-text-wrapper">
        <p>{{ clue.text }}</p>
      </div>
      <div class="clue-numbers">
        @for (number of clue.numbers; track number) {
        <span class="clue-box" (click)="selectClueBox(clue, number)">{{
          number.number
        }}</span>
        }
      </div>
    </div>
    }
  </div>

  <!-- Check Answer Button -->
  <button
    class="check-answer-button"
    (click)="checkAnswer()"
    [disabled]="disableCheckButton"
  >
    Check Answer
  </button>
</div>
